.background {
    -fx-background-color: #1d1d1d;
}

.background-list {
    -fx-background-color: #890000;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-text {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
    
}

.label-textsmall {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
    
}

.label-header {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #C16A6A;
    -fx-text-fill: white;
     -fx-accent: #890000;
}

.list-cell:even{
	-fx-background-color: #6F0202;
}
.list-cell { 
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}


.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-background-radius: 10;
    -fx-background-color: #890000;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: #622D2D;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}


.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #938D8D;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.my-separator .line {
  -fx-border-color: white ;
  -fx-border-width: 1 0 0 0 ;
}

